@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --hello: #aea;
}

:root.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --hello: #e5e5;
}

body {
  font-family: -apple-system, PretendardVariable, 'Fredoka';
}

@font-face {
  font-family: 'PretendardVariable';
  font-weight: 200;
}

/* modal */
@layer utilities {
  .backdrop-blur-xs {
    backdrop-filter: blur(2px); /* Customize the blur amount as needed */
  }
  /* display */
  .sort-vertical-flex {
    @apply flex flex-col items-center;
  }
  .sort-row-flex {
    @apply flex flex-row items-center;
  }

  /* animation */
  .smooth-transition {
    @apply transition ease-in-out duration-500;
  }
}
@layer components {
  .modal-base {
    @apply fixed top-0 left-0 w-full h-full flex items-center justify-center bg-opacity-50 bg-gray-500 backdrop-blur-xs z-50;
  }
  /* icon */
  .view-icon {
    cursor: pointer;
    border-style: solid;
    border-color: #fff;
    outline-width: 4px;
    outline-color: #d1d5db;
    font-weight: 500;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    @media (min-width: 768px) {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
    }
    outline: none;
    outline-color: #1f2937;
  }
}
